<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Collector Blog</title>
    </head>

    <div id="app" v-cloak>
        <!-- v toolbar eventually -->
        <div>A Collectors Blog</div>
        <button>blog</button>
        <button>post</button>

        <div v-if="page == 'blog'">
            <select v-model="selected_category">
                <option v-for="category in categories" v-bind:value="category">{{category}}</option>
            </select>
            {{selected_category}}
            <div v-for="post in sortedPosts">
                <img v-bind:src="post.image" width="300px" height="300px">
                <div>{{ post.title }}</div>
                <div>{{ post.author }}</div>
                <div>{{ post.category }}</div>
                <div>{{ post.text }}</div>
                <div>{{ post.date }}</div>
            </div>
        </div>

        <div v-if="page == 'post'">
            <div>Create Post</div>
            Enter Title: <input type="text">
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="code.js"></script>
</html>