<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <link rel="stylesheet" href="style.css">
        <title>Collector Blog</title>
    </head>

    <div id="app" v-cloak>
        <v-app dark>
            <v-content>
                <v-toolbar>
                    <v-toolbar-side-icon @click="drawer = !drawer"></v-toolbar-side-icon>
                    <v-toolbar-title>{{ greeting }}</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-toolbar-items>
                        <v-btn flat v-on:click="page = 'blog'">blog</v-btn>
                        <v-btn flat v-on:click="page = 'post'">post</v-btn>
                    </v-toolbar-items>
                </v-toolbar>
                <v-navigation-drawer app v-model="drawer">
                    <v-list>
                        <v-list-tile v-for="post in posts">
                            <v-list-tile-title>{{post.title}}</v-list-tile-title>
                        </v-list-tile>
                    </v-list>
                </v-navigation-drawer>

                <v-container fluid>
                    <v-layout>
                        <v-flex xs2 text-xs-center>Left Column</v-flex>

                        <v-flex xs8 text-xs-center>
                            <div class="display-2 mb-4">Check it out:</div>
                            <div v-for="post in posts">
                                <v-card class="mx-auto mb-3" dark elevation-4>
                                <v-card-title>
                                        <v-card-title>
                                                <v-icon
                                                  large
                                                  left
                                                >
                                                  mdi-twitter
                                                </v-icon>

                                  <span class="title font-weight-light">{{ post.title }}</span>
                                </v-card-title>
                            
                                <v-card-text class="headline font-weight-bold">
                                  {{post.text}}
                                </v-card-text>
                            
                                <v-card-actions>
                                  <v-list-tile class="grow">
                                    <v-list-tile-avatar color="grey darken-3">
                                      <v-img
                                        class="elevation-6"
                                        src="https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortCurly&accessoriesType=Prescription02&hairColor=Black&facialHairType=Blank&clotheType=Hoodie&clotheColor=White&eyeType=Default&eyebrowType=DefaultNatural&mouthType=Default&skinColor=Light"
                                      ></v-img>
                                    </v-list-tile-avatar>
                            
                                    <v-list-tile-content>
                                      <v-list-tile-title>{{ post.author }}</v-list-tile-title>
                                    </v-list-tile-content>
                            
                                    <v-layout
                                      align-center
                                      justify-end
                                    >
                                      <v-icon class="mr-1">mdi-heart</v-icon>
                                      <span class="subheading mr-2">256</span>
                                      <span class="mr-1">·</span>
                                      <v-icon class="mr-1">mdi-share-variant</v-icon>
                                      <span class="subheading">45</span>
                                    </v-layout>
                                  </v-list-tile>
                                </v-card-actions>
                              </v-card>
                            </div>

                        </v-flex>
                        <v-flex xs2 text-xs-center>Right Column</v-flex>
                    </v-layout>
                </v-container>
                <!-- v toolbar eventually -->
                <!-- <div>A Collectors Blog</div>
                <button v-on:click="page = 'blog'">blog</button>
                <button v-on:click="page = 'post'">post</button>
        
                <div v-if="page == 'blog'">
                    <select v-model="selected_category">
                        <option v-for="category in categories" v-bind:value="category">{{category}}</option>
                    </select>
                    {{selected_category}}
                    <div v-for="post in sortedPosts">
                        <img v-bind:src="post.image" width="300px" height="300px">
                        <div>{{ post.title }}</div>
                        <div>{{ post.author }}</div>
                        <div>{{ post.category }}</div>
                        <div>{{ post.text }}</div>
                        <div>{{ post.date }}</div>
                    </div>
                </div>
        
                <div v-if="page == 'post'">
                    <div>Create Post</div>
                    Enter Title: <input type="text" v-model="new_title"><br>
                    Enter Author: <input type="text" v-model="new_author"><br>
                    Choose Category: <select v-model="new_category">
                        <option v-for="category in categories" v-bind:value="category">{{ category }}</option>
                    </select> <br>
                    Enter an image link: <input type="text" v-model="new_image"> <br>
                    Enter text: <textarea v-model="new_text" type="text"></textarea><br>
                    <button v-on:click="addPost()">post</button>
                </div> -->
            </v-content>
        </v-app>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="code.js"></script>
</html>